.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 100vmin;
    pointer-events: none;
}

.App-header {
    background: transparent;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Home {
    background-image: url("./background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    max-height: 100%;

}

.title {
    font-size: 4em;
}

.mainButton {
    font-weight: bold !important;
    font-size: 1.2em !important;
    padding-left: 2.5em !important;
    padding-right: 2.5em !important;
    margin-bottom: 1em !important;
}

@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}